/* main-screen.css */

.main-screen {
    width: 100%; /* Adjust the width to take up half of the screen */
    height: 85vh;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #061957, #008ad4);
  }
  
  /* Styles for the image slider */
  .slick-slider {
    height: 50vh;
    margin-bottom: 20px;
  }
  
  .slick-slide img {
    width: 100%;
    opacity: 80%;
    height: 50vh; /* Set the height for your slides */
    object-fit: cover;
  }
  
  
  .cloud-services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .cloud-service-item {
    
    position: relative;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
    /* 세로로 컴포넌트 나열 */
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;

  }

  .cloud-service-item a {
    font-size: large;
    color: #061957;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .cloud-service-item:hover {
    transform: scale(1.1);
  }
  
  .cloud-service-item img {
    margin: 0 auto;
    width: 100px;
    height: 100px;

  }
  
  .cloud-service-description {
    margin-top: 10px;
    display: none;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
  }
  
  .cloud-service-item:hover .cloud-service-description {
    display: block;
  }
  
  .cloud-service-button {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .cloud-service-button:hover {
    background-color: #0056b3;
  }
  