/* SpinnerOurs.css */
.spinner-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff; /* AliceBlue 배경색 */
}

.spinner {
    width: 80px;
    height: 80px;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1.5s ease-in-out infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    font-family: 'Arial', sans-serif;
}
