.vm-create-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 70vh;
  align-items: center;
  align-content: center;
  background-color: #f9f9f9;
}

.vm-create-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.vm-create-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.vm-create-form input[type="text"],
.vm-create-form select,
.vm-create-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.vm-create-form input[type="checkbox"] {
  margin-right: 10px;
}

.vm-create-form button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.vm-create-form button:hover {
  background-color: #0056b3;
}

.vm-create-form textarea {
  resize: none;
  height: 100px;
}

.vm-create-form .back-button {
  background-color: #6c757d;
}

.vm-create-form .back-button:hover {
  background-color: #5a6268;
}

.vm-create-form .button-group {
  display: flex;
  justify-content: space-between;
}

.vm-create-form .button-group button {
  width: 48%;
}
