/* Login Modal CSS */

/* Modal Container */
#login-modal {
    display: none; /* Hide the modal by default */
    position: absolute;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

/* Modal Content */
.login-modal-content {
    background-color: #fefefe;
    position: absolute;
    top:50%;
    left:40%;
    text-align: center;

    padding: 20px;
    border: 1px solid #888;
    width: auto;
    height: auto;
}

/* Modal Close Button */
.login-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.login-modal-close:hover,
.login-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Form */
.login-modal-form {
    display: flex;
    flex-direction: column;
}

.login-modal-form input[type="text"],
.login-modal-form input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.login-modal-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.login-modal-form button:hover {
    background-color: #45a049;
}